################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/full-emoji-unicode-json/v16/TestStore/0
